<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>boost_ipc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>boost_ipc_inspector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>boost_ipc_modifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00FDE1F3BFA946D8ACA31A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AF5A38A896433185F0DE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBF6743EAF340A7A63BD071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A81FA1FA932240F5A1C185DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E31EC46ED21244438AAB82F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
